.App {
  text-align: center;
  min-width: 350px;
}

/* Small Screen Media query classes*/

#map {
        height: 92vh;

      }
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
      }

.title {


}