.App {
  text-align: center;
  min-width: 350px;
  max-width: 750px;
  height: 100%;
  top:56px;
  width: 100%;
  position: fixed;
}

.title{
  position: fixed;
  width:100%;
  height: 56px;
  background: lightgrey;
  top:0px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  max-width: 740px;
  

}

h1{
  font-size: 32px;
  flex:1;



}


input{
  background: white;
}


.hamburger{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 36px;
  height: 28px;
  top:0px;
  align-items: right;
  background: transparent;
  border: none;
  color: red;
  cursor: pointer;
  padding: 0px;
  box-sizing: border-box; 
  
  
 
}

.hamburger:focus {
  
}

.button-line {
  width:30px;
  height: 4px;
  background: white;
}


.sidebar{
	width: 70%;
  height: 100%;
  max-width: 400px;
  background: white;
  box-shadow: 2px 0px 5px rgba(0,0,0,0.5);
  position:fixed;
  top:0;
  left: 0;
  z-index: 500;

}

.backdrop{
  position:fixed;
  width: 30%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  z-index: 200;
  top:0;
  right: 0;}



input#search {
    width: 100%;
    height: 32px;
    font-size: 16px;
    border-radius: 5px;
    border-color: black;
    box-shadow: 2px 0px 5px;

    

}
input[type=text] {
  background: white;

}


ol.venuelist {
    padding: 10px;
}



.venueitem {
    list-style: none;
    font-size: 18px;
    box-shadow: 1px;
    box-shadow: 1px 1px 1px blue;
    padding: 8px;
    margin-top: 10px;
    background: grey;
    color:white;
    display: flex;
    align-items: center;
}




      
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
      }


@media only screen and (max-width: 550px){
  .App{  
  }
  .sidebar{
    font-size: 50%;
    text-align: left;
  }

li.venueitem{
  font-size: 10px;
}
input#search {
  font-size: 10px;

}

}



@media only screen and (max-width: 680px){
  .App{
    
  }
  .sidebar{
    font-size: 80%;
    text-align: left;
  }


}


@media only screen and (min-width: 750px){
  .App {
    margin-right: auto;
    margin-left: auto;
  }

  body  {
  margin-right: auto;
  margin-left: auto;

  }
 
}

