body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  max-width: 750px;
  font-size: 12px;
}

@media only screen and (min-width: 750px){
  body .title {
    margin-right: auto;
    margin-left: auto;

  }



}






/*
.menu-item {
	color: #FFF;
}

.bm-burger-bars {
  background: #373a47;
 }

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 25px;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-menu {
  background: #28587B;
  padding: 0em 0em 0;
  font-size: 1.15em;
  
}

.bm-item-list {
  color: #FFF;
  padding: 0.8em;
}

.bm-item {
  display: inline-block;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.search-locations {
  margin-left: 10%;
  width: 75%;
}

*/