body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  max-width: 750px;
  font-size: 12px;
}


button:focus{
  background: black;
  color:red;
}



@media only screen and (min-width: 750px){
  body .title {
    margin-right: auto;
    margin-left: auto;

  }



}





