body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.bm-burger-bars {
  background: #373a47;
 }

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-menu {
  background: #28587B;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

.bm-item {
  display: inline-block;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}